/**************/
/* CSS REMEDY */
/**************/

@font-face {
	font-family: display-semibold;
	src: url(./font/SF-Pro-Display-Semibold.woff);
}

@font-face {
	font-family: text-regular;
	src: url(./font/SF-Pro-Text-Regular.woff);
}

@font-face {
	font-family: text-semibold;
	src: url(./font/SF-Pro-Text-Semibold.woff);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

h1 {
	font-family: display-semibold;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */